@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: "Poppins";
}

.main {
    display: flex;
}

.sidebar {
    width: 300px;
    height: 700px;
    padding: 10px;
}

.body {
    display: inline-block;
    height: 700px;
    padding: 10px;
    background-color: aliceblue;
}


.profile {
    padding: 10px 60px;
    justify-content: center;
    display: flex;
}

.menu-item {
    display: flex;
    padding: 5px;
    color: aliceblue;
    font-size: large;
    text-decoration: none;
}

.menu-name {
    display: flex;
    justify-content: space-between;
}

.menu-name-1 {
    font-size: x-large;
    font-weight: 700;
    color: #29447F;
}

/* almost every button except delete's*/
.neutralButton {
    background-color: #29447F;
    color: white;

}

/* Day in Calendar */
.calendar-styles {
    margin-top: 5px;
    width: 1200px !important;
    border-radius: 8px;
}

/* Calendar.css */


.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Dialog's separate component */

.dialog-body {
    display: flex;
    gap: 10px;
}

.dialog-sidebar {
    height: 500px;
    width: 200px;
    background-color: #29447F;
    border-radius: 6px;
    color: white;
}

.dialog-taskbar {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 700px;
    border: 6px;
    padding: 10px;
}

/* Inside Dialog component's sidebar */

.taskList {
    text-decoration: none;
    color: black;
    padding: 10px 40px;
}

.editDialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Button inside Dialog box*/
.delete-task {
    background-color: rgb(145, 19, 19);
    margin-left: 10px;
    color: white;
}

.task-lists {
    list-style: none;
    margin-top: 5px;
}

.task-buttons {
    width: 100%;
}

/*Calendar boxes*/

.react-calendar {
    border: none !important;
    font-family: "Poppins" !important;
}

.react-calendar calendar-styles {
    border: none;
}

.react-calendar__month-view__weekdays {
    background-color: #29447F;
    color: white;

}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none !important;
}


.react-calendar__month-view__days button {
    padding: 45px;
    font-size: large;
}

/* Style for highlighted dates */
.react-calendar__tile.react-calendar__month-view__days__day.highlighted-date {
    background-color: #dbffd7;
    /* Yellow background for dates with tasks */

    /* Optional: Make the highlight circular */
    color: #000;
    /* Optional: Change text color */
}

.react-calendar__tile {
    border: 0.1px solid rgb(225, 225, 225) !important;
}